@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
	
	</style>
	<header>
		<nav>
			<div class="home">
				<div class="container-6">
					<div class="logo-bg-void-1">
					</div>
					<div class="container-2">
						<div class="container">
							<span class="home-1">
								Home
							</span>
						</div>
						<div class="administrator">
							Administrator
						</div>
						<div class="register">
							Register
						</div>
						<div class="log-in">
							Log In
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="details">
		<span class="welcome">
			Welcome
		</span>
		<span class="sri-lanka-telecom-seat-reservation-system">
			Sri Lanka Telecom Seat Reservation System
		</span>
	</div>
</body>
</html>
